---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import Button from '../components/ui/Button.astro'

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class='container mx-auto pt-10'>
      <section class='grid grid-cols-1 md:grid-cols-3'>
        <div class='blog-container col-start-1 col-end-3'>
          <div
            class='grid grid-cols-3 md:grid-cols-2 gap-6 w-full items-center justify-center'
          >
            {
              posts.map((post) => (
                <div class=' w-auto flex flex-col items-center'>
                  <a href={post.url}>
                    <div class='w-full h-64 flex items-center rounded-md shadow overflow-hidden'>
                      <img
                        class='w-full h-full object-cover aspect-video'
                        src={post.frontmatter.heroImage}
                        alt={post.frontmatter.title}
                      />
                    </div>
                  </a>
                  <h4 class=' w-full mt-4 text-left text-2xl font-bold text-slate-700'>
                    {post.frontmatter.title}
                  </h4>
                  <p class=' w-full flex flex-row items-center justify-between mt-1 text-sm font-bold text-slate-500'>
                    <span>{post.frontmatter.author}</span>
                    <span>{post.frontmatter.pubDate}</span>
                  </p>
                </div>
              ))
            }
          </div>
          <div class='side-bar col-start-3'></div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
