---
import Header from '../components/Header.astro'
import Anchor from '../components/ui/Anchor.astro'
import Headline from '../components/ui/Headline.astro'
import Footer from '../components/Footer.astro'
import BaseHead from '../components/BaseHead.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
import SubHeadline from '../components/ui/SubHeadline.astro'

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class='container mx-auto mt-10'>
      <Headline align='center' name='Recent Posts' />
      <section class='grid grid-cols-1 md:grid-cols-3'>
        <div class='blog-container col-start-1 col-end-3'>
          <div
            class='grid grid-cols-3 md:grid-cols-2 gap-6 w-full items-center justify-center'
          >
            {
              posts.map((post) => (
                <div class=' w-auto flex flex-col items-center bg-slate-100 rounded-md shadow shadow-green-200 overflow-hidden'>
                  <div class='w-full h-44 flex items-center'>
                    <img
                      class='w-full h-full object-cover aspect-video'
                      src={post.frontmatter.heroImage}
                      alt={post.frontmatter.title}
                    />
                  </div>
                  <div class='body w-full'>
                    <h4 class='px-4 w-full mt-4 text-left text-xl font-semibold text-slate-700'>
                      {post.frontmatter.title}
                    </h4>
                    <p class='px-4 w-full flex flex-row items-center justify-between mt-1 text-xs font-light text-slate-500 mb-3'>
                      <span>{post.frontmatter.author}</span>
                      <span>{post.frontmatter.pubDate}</span>
                    </p>
                    <Anchor href={post.url}>
                      <span>Read More</span>
                    </Anchor>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
        <div class='side-bar col-start-3'>
          <div class='pl-6'>
            <SubHeadline align='left' name='Search' />
          </div>
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
